<!doctype html>
<head>
    <title>更新文章</title>
</head>
<body>
    <% include /../header %>
    <div style='padding:50px;'>
        <%-'<form name="modify" action="/apis/update/'+messageID+'" method="post">'%>
            <h1>更新文章</h1>
            <div>
                <p>
                    <span>發文者:</span>
                    <label style='padding-right:50px'><%=username%></label>
                </p>
                <p>
                    <textarea name="Content" cols="50" rows="25" style='resize : none;'><%= blogs[0].Article %></textarea>
                </p>
                <div>
                    <span style='padding-right:377px'>
                        <input type="submit" name="submit" value="更新">
                    </span>
                </div>
            </div>
        </form>
    </div>
    <% include /../footer %>
</body>