<!doctype html>
<html>
<head>
    <title>Blog System</title>
</head>
<body>
    <% include /../header %>
    <div style='padding:50px;'>
        <form name="register" action="/apis/register" method="post">
            <h1>登入</h1>
            <div>
                <p>
                    <label for="user" style='padding-right:17px'>使用者名稱/e-mail</label>
                    <input type="text"  name="user" placeholder='username@example.com' id="user">
                </p>
                <p>
                    <label for="passwd" style='padding-right:110px'>密碼</label>
                    <input type="password"  name="passwd" id="passwd">
                </p>
                <p>
                    <span style='padding-right:274px'></span>
                    <input type="submit"  name="submit" value="登入">
                </p>
                
            </div>
        </form>
    </div>
    <% include /../footer %>
</body>
</html>