doctype html
html
	head
		title Blog System
	body
		div(style="float:left")
			a(href='/') Home
		div(style='float:right')
				a(href='/users/register',style='margin:10px;') 註冊
				a(href='/users/forget',style='margin:10px;') 忘記密碼
		div(style='padding:50px;')
			form(name="login", action="/apis/login", method="post")
				h1 登入
				div
					p
						label(style='padding-right:17px') 使用者名稱/e-mail
						input(type="text", name="user",placeholder='username@example.com')
					p
						label(style='padding-right:110px') 密碼
						input(type="password", name="passwd")
					p
						span(style='padding-right:274px')
						input(type="submit",name="submit",value="登入")
					p #{hint}